body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1280px;
  padding-right: 0;
  padding-left: 0;
}

/* ***********************************************************************************HEADER */
/* format thẻ Pooch Care */
header .navbar-brand {
  margin: 0;
  padding: 0 20px;
  font-size: 34px !important;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46 !important;
}

/* đổi màu khi rê chuột vào navbar */
header .nav-link:hover {
  color: #189a46 !important;
}

header .nav-item span:hover {
  color: #189a46;
}

header .nav-link span {
  position: relative;
}

/* tạo 1 div after của thẻ span (đường gạch chân màu xanh của các nút Home, About...)  */
header .nav-link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-link span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

header .nav-item span {
  position: relative;
}

/* tạo 1 div cho thẻ span trong dropdown */
header .nav-item span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-item span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* ********************************************************************************FOOTER */
/* format 4 font icon: facebook, twitter, google... */
footer .main-social-footer-28 li {
  display: inline-block;
  padding: 5px;
}

footer .main-social-footer-28 a:hover i {
  color: #fff;
}

/* bỏ dấu gạch chân thẻ a */
footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* bỏ chấm tròn thẻ li */
footer li {
  list-style: none;
  padding-bottom: 10px;
}

footer ul {
  padding-left: 0;
}

/* kẻ đường thẳng phía trên copy right */
footer .midd-footer-28 {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .row {
  margin: 0 0;
}

footer .col-lg-6.col-md-5.footer-list-28.mt-5.text-secondary {
  padding-left: 24px;
}

/* ****************************ABOUT US BACKGROUND */
.about-breadcrumb {
  margin-top: 90px;
  background: url(../img/5.jpg) no-repeat center;
  background-size: cover;
  display: grid;
  align-items: center;
  padding: 1em 0;
  position: relative;
  z-index: 0;
}

.about-breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.about-breadcrumb h2.title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

li {
  list-style: none;
}

.about-breadcrumb .breadcrumbs-custom-path li {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
}

.about-breadcrumb a,
.about-breadcrumb a:hover {
  text-decoration: none;
  color: #189a46;
}

/* *************************ABOUT US CONTENT */
.about-content .row {
  align-items: center;
}

.about-content .sub-title {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.about-content .hny-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.about-content .col h4 {
  font-size: 1.375rem;
  line-height: 32px;
  opacity: 0.9;
}

.about-content .col p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.about-content a {
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  color: #000c04;
  border-bottom: 2px solid #189a46;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}

.about-content a:hover {
  color: #189a46;
}

/* **************************************HISTORY */
.history .history-1 {
  background: url(../img/3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.history .history-1::before {
  content: "";
  background-color: rgba(0, 4, 8, 0.69);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: -1;
}

.history .content {
  text-align: left;
  color: #fff;
}

.history h4.sub-title {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.history h3.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.history p {
  color: #fff;
  opacity: 0.7;
  font-size: 19px;
}

.history .history-grids h5.year {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.history .content {
  max-width: 60%;
  margin-left: auto;
}

/* **********************************WHO WE ARE */
.services .services_left .sub-title {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.services .services_left .hny-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: #000c04;
}

.services .services_left img{
  border-radius: 10px;
}

.services .services_right .services_grids_icon .content_icon{
  color: #189A46;
    font-size: 44px;
    text-align: center;
}

.services .services_right .services_grids_info h6 a{
  color: #000c04;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.services .services_right .services_grids_info h6 a:hover{
  color: #189A46;
}

.services .services_right .services_grids_info p{
    font-size: 1.2rem;
    line-height: 28px;
    color: #696969;

}



/* *****************************************OUR TEAM */
.team .container {
  background: rgba(147, 107, 232, 0.05);
  padding: 15px 15px 100px 15px;
}

.team .col .card {
  border: none;
}

.team .col .card a {
  overflow: hidden; /* ngăn tấm hình tràn ra ngoài khi hover vào */
  border-radius: 10px;
}

.team .card img {
  transition: all 0.5s;
}

/* hover vào phóng to tấm hình */
.team .card:hover img {
  transform: scale(1.1);
}

.team .card-body a {
  text-decoration: none;
  font-size: 1.375rem;
  text-align: center;
  transition: all 0.5s;
  color: initial;
}

.team .card:hover a {
  color: #189a46;
}

.team .card-body p {
  font-size: 1rem;
  line-height: 25px;
  color: #696969;
  text-align: center;
}

.team .card-body .social {
  margin-top: 16px;
}

.team .card-body .social-left {
  text-align: center;
}

/* format 3 nút của thẻ card */
.team .card-body .social a {
  display: inline-block;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  background: rgba(147, 107, 232, 0.05);
  color: #189a46;
  transition: all 0.5s;
}

.team .card-body .social a span {
  font-size: 12px;
  line-height: 30px;
  display: block;
}

/* hover thẻ a thì đổi màu các font icon bên trong nó */
.team .card-body .social a:hover {
  background: #189a46;
  color: white;
}

/* ****************************BACK TO TOP */
/* sử dụng thư viện https://codyhouse.co/gem/back-to-top để chỉnh nút back to top */
.cd-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #189a46;
  border-radius: 50%;
  text-align: center;
  display: block;
  position: fixed; /* giúp thẻ di chuyển theo khi người dùng scroll web */
  right: 15px;
  bottom: 15px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

.cd-top:hover {
  opacity: 1;
  color: white;
}
/* ****************************BACK TO TOP */


/* ************************************************RESPONSIVE */
@media screen and (max-width: 1200px){}
@media screen and (max-width: 900px){
  header .moon-sun {
    display: none;
  }

  header .container-fluid {
    padding: 0 25px;
  }

  body {
    padding: 0 25px;
  }
  /* ***************************Header */
}
@media screen and (max-width: 768px){
  /* ***************************Header */
  header .moon-sun {
    display: none;
  }

  header .container-fluid {
    padding: 0 25px;
  }

  header .container-fluid .navbar-brand {
    padding: 0 0;
  }
  /* ***************************Header */

    /* *************************FOOTER */
    footer .container.bg-dark .row {
      display: unset;
    }
  
    footer h6.footer-title-28.text-white.fs-5.pb-3 {
      padding-top: 10px;
    }
  
    footer .col-lg-6 .col-md-5 .footer-list-28 .mt-5 .text-secondary {
      padding-left: 24px;
    }
  
    /* *************************FOOTER */


  .team .img-fluid{
    width: 100%;
  }

  .team .row-cols-sm-4 .col{
    width: 50%;
  }

  .team .card-body .social a{
    width: 30%;
  }

}
@media screen and (max-width: 576px){
  /* *************************HEADER */
  /* Tắt biểu tượng sáng tối */
  header .moon-sun {
    display: none;
  }

  header .container-fluid {
    padding: 0 25px;
  }

  header .container-fluid .navbar-brand {
    padding: 0 0;
  }
  /* *************************HEADER */

  /* ********************************FOOTER */
  footer .col-lg-6.col-md-5.footer-list-28.mt-5.text-secondary {
    padding-left: 24px;
    padding-top: 12px;
  }

  footer .container.bg-dark .row {
    display: unset;
  }

  footer h6.footer-title-28.text-white.fs-5.pb-3 {
    padding-top: 10px;
  }

  /* *************************FOOTER */

  .about-content{
    margin: 30px 0;
    padding: 0 30px;
  }

  .about-content .row{
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  
  .history .content{
    max-width: 80%;
    margin: auto;
  }

.services .row{
  margin: 0 0;
}

.services .container{
  text-align: center;
}

.services .services_left{
  text-align: center !important;
}

.team .img-fluid{
  width: 100%;
}

.team .row-cols-sm-4 .col{
  width: 100%;
}

.team .card-body .social a{
  width: 30%;
}

}
