body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1280px;
}


/* ***********************************************************************************HEADER */
header.nav-fixed {
  padding: 0px;
  height: 100px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

/* format thẻ Pooch Care */
header .navbar-brand {
  margin: 0;
  padding: 0 20px;
  font-size: 34px !important;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46 !important;
}

/* đổi màu khi rê chuột vào navbar */
header .nav-link:hover {
  color: #189a46 !important;
}

header .nav-item span:hover {
  color: #189a46;
}

header .nav-link span {
  position: relative;
}

/* tạo 1 div after của thẻ span (đường gạch chân màu xanh của các nút Home, About...)  */
header .nav-link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-link span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

header .nav-item span {
  position: relative;
}

/* tạo 1 div cho thẻ span trong dropdown */
header .nav-item span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-item span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* khi ở giao diện sáng, màu nền sáng, mặt trăng hiện, mặt trời ẩn*/
#myBody{
  background-color:white;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* khi ở giao diện tối, màu nền tối, mặt trời hiện, mặt trăng ẩn */
/* thêm lớp dark vào thẻ body */
/* <body id="myBody" cz-shortcut-listen="true" class="dark"> */
.dark#myBody{
  background-color:black;
  color:white;
}

.dark #switchButton .fa-sun {
  display: block;
}

.dark #switchButton .fa-moon {
  display: none;
  color: #696969;
}

.dark .blogpost .numberpages a{
  color: #fff;
}

/* ********************************************************************************FOOTER */
/* format 4 font icon: facebook, twitter, google... */
footer .main-social-footer-28 li {
  display: inline-block;
  padding: 5px;
}

footer .main-social-footer-28 a:hover i {
  color: #fff;
}

/* bỏ dấu gạch chân thẻ a */
footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* bỏ chấm tròn thẻ li */
footer li {
  list-style: none;
  padding-bottom: 10px;
}

footer ul {
  padding-left: 0;
}

/* kẻ đường thẳng phía trên copy right */
footer .midd-footer-28 {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .row {
  margin: 0 0;
}

/* ********************************************************************************breadscumb */
#breadscumb {
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1em 0;
  position: relative;
  margin-top: 90px;
  z-index: 0;
}

#breadscumb::before {
  content: "";
  position: absolute;
  min-height: 100%;
  background-color: #0c0c0c;
  z-index: -1;
}
#breadscumb .breadscumb-all {
  padding: 48px 0 48px 0;
}

.breadscumb-all::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: .6;
}

.breadscumb-all-contents h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.breadscumb-all-contents .homeblog {
  display: flex;
  justify-content: center;
}

.breadscumb-all-contents a {
  text-decoration: none;
  color: #189A46;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
}

.breadscumb-all-contents .blog {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}

/* ********************************************************************************blogpost */
.blogpost {
  padding: 48px 0 48px 0;
  background-color: rgba(147, 107, 232, 0.05);
}

.blogpost-all .blogpost-all-header h3 {
  color: #f53626;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  text-align: center;
}

.blogpost-all .blogpost-all-header .tittle {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  text-align: center;
}

main .main-all {
  /* display: flex;
  width: 100%;
  flex-wrap: wrap; */
  display: flex;
  flex-wrap: wrap;
}

main .main-all-card {
  width: calc(100% / 3);
  /* margin: 0 10px 0 10px; */
  /* transition: all 0.5s; */
}



main .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 9%);
  padding: 0;
}

main .main-all-card a {
  /* padding: 0; */
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

/* main .main-all-card .main-all-card--img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
} */

.blogpost main .card{
  border: none;
    background: #fff;
    transition: .3s ease;
    border-radius: 0 0 8px 8px;
}

.blogpost main .card:hover{
  transform: translateY(-0.5rem);
  transition: 0.3s ease;
}

.blogpost .img-fluid{
  border-radius: 8px 8px 0 0;
}

.main-all-card-contents {
  padding: 30px 20px 30px 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.main-all-card-contents .ctn1 {
  margin-bottom: 6px;
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: #000c04;
  text-decoration: none;
  display: block;
}

.main-all-card-contents .ctn2 {
  margin: 16px 0 4px 0;


}

.main-all-card-contents p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.main-all-card-showcase {
  display: flex;
}

.main-all-card-contents .ctn2 a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000c04;
}

.main-all-card-contents .ctn2 a:hover {
  color: #f53626;
}

.numberpages a {
  font-size: 20px;
  font-weight: 700;
  margin: 0 5px;
  text-decoration: none;
  text-align: center;
  height: 30px;
  width: 20px;
  color: #000c04;
}

.numberpages .numberall {
  cursor: pointer;
}

.numberpages .numberall:hover {
  color: #189A46;
}



/* *****************************************RESPONSIVE */

@media screen and (max-width: 900px){
  /* *************************HEADER */
  header .moon-sun {
    position: absolute;
    top: 15px;
    right: 70px;
  }

  /* *************************HEADER */
}


@media screen and (max-width: 768px){
  /* *************************HEADER */
  header .moon-sun {
    position: absolute;
    top: 15px;
    right: 70px;
  }

  /* *************************HEADER */

  /* ********************************FOOTER */
footer .col-lg-6.col-md-5.footer-list-28.mt-5.text-secondary{
  padding-left: 24px;
  padding-top: 12px;
}

  footer .container.bg-dark .row {
    display: unset;
  }

  footer h6.footer-title-28.text-white.fs-5.pb-3 {
    padding-top: 10px;
  }
/* *************************FOOTER */

}

@media screen and (max-width: 576px){
  /* *************************HEADER */
  header .moon-sun {
    position: absolute;
    top: 15px;
    right: 70px;
  }

  /* *************************HEADER */

  /* ********************************FOOTER */
footer .col-lg-6.col-md-5.footer-list-28.mt-5.text-secondary{
  padding-left: 24px;
  padding-top: 12px;
}

  footer .container.bg-dark .row {
    display: unset;
  }

  footer h6.footer-title-28.text-white.fs-5.pb-3 {
    padding-top: 10px;
  }


/* *************************FOOTER */


}