body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1280px;
  padding-right: 0;
  padding-left: 0;
}

/* ***********************************************************************************HEADER */
/* format thẻ Pooch Care */
header .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px !important;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46 !important;
}

/* đổi màu khi rê chuột vào navbar */
header .nav-link:hover {
  color: #189a46 !important;
}

header .nav-item span:hover {
  color: #189a46;
}

header .nav-link span {
  position: relative;
}

/* tạo 1 div after của thẻ span (đường gạch chân màu xanh của các nút Home, About...)  */
header .nav-link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-link span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

header .nav-item span {
  position: relative;
}

/* tạo 1 div cho thẻ span trong dropdown */
header .nav-item span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-item span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* ********************************************************************************FOOTER */
/* format 4 font icon: facebook, twitter, google... */
footer .main-social-footer-28 li {
  display: inline-block;
  padding: 5px;
}

footer .main-social-footer-28 a:hover i {
  color: #fff;
}

/* bỏ dấu gạch chân thẻ a */
footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* bỏ chấm tròn thẻ li */
footer li {
  list-style: none;
  padding-bottom: 10px;
}

footer ul {
  padding-left: 0;
}

/* kẻ đường thẳng phía trên copy right */
footer .midd-footer-28 {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .row {
  margin: 0 0;
}

/* ********************************************************************CAROUSEL */
/* format nút red more */
.slideshow .btn_readmore {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
  text-decoration: none;
}

/* format nút contact */
.slideshow .btn_contact {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  text-decoration: none;
}

/* hover nút contact */
.slideshow .btn_contact:hover {
  color: #189a46;
  background: #fff;
}

.slideshow .carousel-caption {
  right: 10%;
}

/* chỉnh vị trí carousel-caption 1 */
.slideshow .carousel-caption.caption1 {
  bottom: 50%;
}

/* chỉnh vị trí carousel-caption 2 */
.slideshow .carousel-caption.caption2 {
  bottom: 40%;
  left: 40%;
}

/* *****************************************************************ABOUT US */
/* format nút Read more */
.aboutUs .read {
  text-decoration: none;
  font-size: 1rem;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.aboutUs .read:hover {
  color: #189a46;
}

/* ******************************************************************FEATURES */
/* format các area box */
.features .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  /* position: relative; */
  margin-bottom: 30px;
}

/* đổi màu các box khi hover */
.features .area-box:hover {
  background: rgba(147, 107, 232, 0.05);
}

.features .area-box h4.py-3 {
  cursor: pointer;
}

.features .area-box h4.py-3:hover a {
  color: #189a46 !important;
}

/* format nút read more */
.features .read {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

/* hover nút read more */
.features .read:hover {
  color: #189a46;
}

/* *************************************************SERVICES */
/* chỉnh toàn bộ text bên phải căn giữa trên dưới */
.services .cwp4-text {
  align-self: center;
}

/* format text "Why we choose us" */
.services .sub-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

/* format text "What we offer..." */
.services .hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

/* format text p */
.services .cwp4-text p {
  color: #696969;
  font-size: 1rem;
  margin: 15px 0 35px 0;
}

/* format danh sách list ul */
.services .cwp4-text ul li {
  list-style: none;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
}

/* format font icon(nút tròn_ */
.services ul.cont-4 li span.fa {
  color: #189a46;
  margin-right: 12px;
  background: rgba(147, 107, 232, 0.05);
  font-size: 0.625rem;
  padding: 8px;
  border-radius: 50%;
}

/* *********************************************NUMBER */
/* format dãy số */
.number p.counter {
  font-size: 3.125rem;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

/* format hàng chữ */
.number h4 {
  font-size: 1.25rem;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* *******************************************PRICING */
/* tạo grid */
.pricing .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5% 5%;
}

/* format màu nền cho grid, canh giữa 2 iten trái phái theo chiều dọc  */
.pricing .pricing-gd-left {
  background: #fff;
  border-radius: 6px;
  align-self: center;
}

/* format 2 item trái phải */
.pricing .pric-7-1 .pricing-7 {
  padding: 3.5em 2.5em; /* padding từ trong ra ngoài */
}

.pricing .pricing-7-top .one-light {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

/* format đơn giá */
.pricing .pricing-7-top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.pricing .pricing-7-top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing .pricing-7-top h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.pricing .pricing-gd-left.pric-7.active .pricing-7-top h4 span {
  color: #fff;
}

.pricing .pricing-7-bottom {
  padding-top: 1em;
}

/* bỏ chấm tròn thẻ li */
.pricing li {
  list-style: none;
}

/* format list danh sách */
.pricing li p.lists {
  color: #696969;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

/* format màu nền phân nữa trên item ở giữa */
.pricing .pricing-gd-left.pric-7.active .pricing-7-top {
  padding: 3em 2.5em 0.5em; /* cho phân nữa trên item ở giữa trồi lên */
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing .pricing-gd-left.pric-7.active .pricing-7-bottom {
  padding: 2em 2.5em 3.5em;
}

.pricing .pricing-gd-left.pric-7.active {
  z-index: 1; /* cho độ ưu tiên của item ở giữa cao hơn 2 cái kia để đổ bóng */
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%); /* đổ bóng */
  border-radius: 6px;
}

.pricing .pricing-gd-left.pric-7.active .pricing-7-top h5 {
  font-size: 1rem;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.pricing .pricing-gd-left.pric-7.active .pricing-7-top h6 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.57rem;
  line-height: 30px;
  font-weight: 600;
}

.pricing .pricing-gd-left.pric-7.active .pricing-7-top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

/* fotmat nút button  */
.pricing .buy-button a {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  color: #fff;
  background: #189a46;
  border: none;
}

.pricing .buy-button a:hover {
  color: #fff;
  background: #116e32;
  border-color: #116e32;
}

/* *******************************************************************************VIDEO */
/* tạo hiệu ứng sóng lan cho nút play */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* format nút play nhạc */
.player span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

.player span.video-play-icon span {
  color: #189a46;
}

.player span.video-play-icon:hover {
  transform: scale(1.1);
}

.player span.fa.fa-play {
  line-height: 55px;
}

/* đẩy nút play nhạc vô giữa tấm hình */
.player .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.player .section-width p {
  padding: 0 15%;
  color: #696969;
}

/********************************************** Format popup video */
#small-dialog,
#small-dialog1 {
  background: #fff;
  padding: 2em;
  text-align: left;
  max-width: 500px;
  margin: 40px auto;
  position: relative;
  text-align: center;
}
#small-dialog-it,
#small-dialog-in,
#small-dialog-fr,
#small-dialog-sh,
#small-dialog-sf,
#small-dialog-su,
#small-dialog-me,
#small-dialog-ch,
#small-dialog-pi,
#small-dialog-am {
  background: white;
  padding: 0px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative;
  text-align: center;
}
a.play-icon.popup-with-zoom-anim img:hover {
  opacity: 0.5;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.portfolio-items {
  text-align: center;
  margin: 0 auto;
}
.portfolio-items img {
  width: 100%;
}
.portfolio-items h4 {
  margin: 1em 0;
  font-size: 25px;
  color: #a63d56;
}
.portfolio-items p {
  text-align: justify;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  /* -webkit-backface-visibility: hidden; */
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}
.mfp-content iframe {
  width: 100%;
  min-height: 370px;
  border: none;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  background: #fff;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 23px;
  height: 30px;
  line-height: 25px;
  position: absolute;
  left: -30px;
  top: -30px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white !important;
  font-style: normal;
  font-size: 45px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
  background: none;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.login h3,
.signup h3 {
  margin: 1em 0;
  color: #a63d56;
}
.login input[type="text"],
.login input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 3px 0;
  border: 1px solid #a63d56;
  outline: none !important;
}
.signup input[type="text"] {
  width: 44.5%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}
.signup input.email[type="text"],
.signup input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}
.login input[type="submit"],
.signup input[type="submit"] {
  background: #347083;
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 17%;
  -webkit-appearance: none;
}
.login input[type="submit"]:hover,
.signup input[type="submit"]:hover {
  background: #163035;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media all and (max-width: 568px) {
  #small-dialog,
  #small-dialog1 {
    max-width: 425px;
  }
}
@media all and (max-width: 480px) {
  .comments-area textarea {
    height: 100px;
  }
  .login input[type="submit"],
  .signup input[type="submit"] {
    font-size: 14px;
    width: 20%;
  }
  .mfp-close {
    left: 0;
  }
  #small-dialog,
  #small-dialog1 {
    max-width: 445px;
  }
}
@media all and (max-width: 414px) {
  #small-dialog,
  #small-dialog1 {
    padding: 1.5em;
  }
}
@media all and (max-width: 375px) {
  #small-dialog h2,
  #small-dialog1 h2 {
    font-size: 1.5em;
  }
}
@media all and (max-width: 320px) {
  .comments-area span.label,
  .comments-area span.text-field {
    float: none;
    width: 100%;
  }
  .comments-area span {
    padding-bottom: 3px;
  }
  .comments-area input[type="text"],
  .comments-area textarea {
    width: 92%;
  }
  .comments-area div {
    padding: 2px 0;
  }
  .mfp-content iframe {
    width: 100%;
    min-height: 250px;
  }
  .login input[type="submit"],
  .signup input[type="submit"] {
    font-size: 12px;
    width: 29%;
  }
  .signup input[type="text"] {
    width: 90%;
  }
  .mfp-close {
    right: 2px;
    top: -30px;
  }
}
/************************************* Format popup video */

/* **********************************TERMINALS */
.terminals .container {
  background-color: rgba(147, 107, 232, 0.05);
}

.terminals .terminals_info {
  padding-left: 10px;
  align-self: center;
}

.terminals .terminals_info h3,
p {
  margin: 0;
}

.terminals .terminals_info h3 {
  font-weight: 600;
}

.terminals .terminals_info p {
  color: #777777;
  font-size: 1rem;
}

/* fotmat tấm hình của card */
.terminals .terminals_card img {
  width: 20%;
  height: 20%;
}

.terminals .terminals_items .terminals_text {
  font-size: 1rem;
  line-height: 28px;
  color: #696969;
}

.terminals .terminals_items {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: 40px 30px;
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  text-align: left;
}

.terminals .container_row {
  width: 70%;
  margin: auto;
  text-align: center;
}

/* ***********************************STAY UPDATE */
.bottom .header-section p.my-3 {
  padding: 0 10%;
}

/* flex đẩy email và button lên 1 hàng */
.bottom form .subscribe {
  display: flex;
  justify-content: center;
}

/* format input email */
.bottom form .subscribe input {
  font-size: 16px;
  color: #696969;
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 30%;
  margin-right: 20px;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #189a46;
}

/* format nút button subscribe */
.bottom form .subscribe button {
  padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    background-color: #189a46;
    border: #189a46;
}

/* hover đổi màu nút button subscribe */
.bottom form .subscribe button:hover{
  background-color: #116e32;
}

/* ****************************BACK TO TOP */
/* sử dụng thư viện https://codyhouse.co/gem/back-to-top để chỉnh nút back to top */
.cd-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #189a46;
  border-radius: 50%;
  text-align: center;
  display: block;
  position: fixed; /* giúp thẻ di chuyển theo khi người dùng scroll web */
  right: 15px;
  bottom: 15px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

.cd-top:hover {
  opacity: 1;
  color: white;
}
/* ****************************BACK TO TOP */

/* *******************************RESPONSIVE********************************* */
@media screen and (max-width: 1200px){

}

@media screen and (max-width: 900px){

}

@media screen and (max-width: 768px){
  
}


@media screen and (max-width: 576px){

} 