body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1280px;
  padding-right: 0;
  padding-left: 0;
}

/* ***********************************************************************************HEADER */
/* format thẻ Pooch Care */
header .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px !important;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46 !important;
}

/* đổi màu khi rê chuột vào navbar */
header .nav-link:hover {
  color: #189a46 !important;
}

header .nav-item span:hover {
  color: #189a46;
}

header .nav-link span {
  position: relative;
}

/* tạo 1 div after của thẻ span (đường gạch chân màu xanh của các nút Home, About...)  */
header .nav-link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-link span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

header .nav-item span {
  position: relative;
}

/* tạo 1 div cho thẻ span trong dropdown */
header .nav-item span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #189a46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/* hover thẻ span thì chiều dài div after dài ra 100% */
header .nav-item span:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* ********************************************************************************FOOTER */
/* format 4 font icon: facebook, twitter, google... */
footer .main-social-footer-28 li {
  display: inline-block;
  padding: 5px;
}

footer .main-social-footer-28 a:hover i {
  color: #fff;
}

/* bỏ dấu gạch chân thẻ a */
footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* bỏ chấm tròn thẻ li */
footer li {
  list-style: none;
  padding-bottom: 10px;
}

footer ul {
  padding-left: 0;
}

/* kẻ đường thẳng phía trên copy right */
footer .midd-footer-28 {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .row{
  margin: 0 0;
}

/* ********************************************************************CAROUSEL */
/* format nút red more */
.slideshow .btn_readmore {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
  text-decoration: none;
}

/* format nút contact */
.slideshow .btn_contact {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  text-decoration: none;
}

/* hover nút contact */
.slideshow .btn_contact:hover {
  color: #189a46;
  background: #fff;
}

.slideshow .carousel-caption {
  right: 10%;
}

/* chỉnh vị trí carousel-caption 1 */
.slideshow .carousel-caption.caption1 {
  bottom: 50%;
}

/* chỉnh vị trí carousel-caption 2 */
.slideshow .carousel-caption.caption2 {
  bottom: 40%;
  left: 40%;
}

/* *****************************************************************ABOUT US */
/* format nút Read more */
.aboutUs .read {
  text-decoration: none;
  font-size: 1rem;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.aboutUs .read:hover{
  color: #189a46;
}


/* ******************************************************************FEATURES */
/* format các area box */
.features .area-box{
  padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    background-color: #fff;
    /* position: relative; */
    margin-bottom: 30px;
}

/* format nút read more */
.features .read{
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0;
  border-bottom: 2px solid #189A46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

/* hover nút read more */
.features .read:hover{
  color: #189A46;
}


/* *************************************************SERVICES */
/* chỉnh toàn bộ text bên phải căn giữa trên dưới */
.services .cwp4-text{
  align-self: center;
}

/* format text "Why we choose us" */
.services .sub-title{
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

/* format text "What we offer..." */
.services .hny-title{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

/* format text p */
.services .cwp4-text p {
  color: #696969;
  font-size: 1rem;
  margin: 15px 0 35px 0;
}

/* format danh sách list ul */
.services .cwp4-text ul li {
  list-style: none;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
}

/* format font icon(nút tròn_ */
.services ul.cont-4 li span.fa {
  color: #189A46;
  margin-right: 12px;
  background: rgba(147, 107, 232, 0.05);
  font-size: 0.625rem;
  padding: 8px;
  border-radius: 50%;
}