body,
html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1280px;
  padding-right: 0;
  padding-left: 0;
}

/* ***********************************************************************************HEADER */
/* ***********************************************************************************HEADER */
/* format thẻ Pooch Care */
header .navbar-brand {
    margin: 0;
    padding: 0 20px;
    font-size: 34px !important;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46 !important;
  }
  
  /* đổi màu khi rê chuột vào navbar */
  header .nav-link:hover {
    color: #189a46 !important;
  }
  
  header .nav-item span:hover {
    color: #189a46;
  }
  
  header .nav-link span {
    position: relative;
  }
  
  /* tạo 1 div after của thẻ span (đường gạch chân màu xanh của các nút Home, About...)  */
  header .nav-link span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #189a46;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  /* hover thẻ span thì chiều dài div after dài ra 100% */
  header .nav-link span:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
  
  header .nav-item span {
    position: relative;
  }
  
  /* tạo 1 div cho thẻ span trong dropdown */
  header .nav-item span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #189a46;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  /* hover thẻ span thì chiều dài div after dài ra 100% */
  header .nav-item span:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
  
/* ********************************************************************************FOOTER */
/* format 4 font icon: facebook, twitter, google... */
footer .main-social-footer-28 li {
  display: inline-block;
  padding: 5px;
}

footer .main-social-footer-28 a:hover i {
  color: #fff;
}

/* bỏ dấu gạch chân thẻ a */
footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* bỏ chấm tròn thẻ li */
footer li {
  list-style: none;
  padding-bottom: 10px;
}

footer ul {
  padding-left: 0;
}

/* kẻ đường thẳng phía trên copy right */
footer .midd-footer-28 {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .row {
  margin: 0 0;
}

footer .col-lg-6.col-md-5.footer-list-28.mt-5.text-secondary {
  padding-left: 24px;
}
.fixed-top {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*breadscumb*/
#breadscumb {
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1em 0;
  position: relative;
  margin-top: 90px;
  z-index: 0;
}

#breadscumb::before {
  content: "";
  position: absolute;
  min-height: 100%;
  background-color: #0c0c0c;
  z-index: -1;
}
#breadscumb .breadscumb-all {
  padding: 48px 0 48px 0;
}

.breadscumb-all::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: .6;
}

.breadscumb-all-contents h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.breadscumb-all-contents .homeblog {
  display: flex;
  justify-content: center;
}

.breadscumb-all-contents a {
  text-decoration: none;
  color: #189A46;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
}

.breadscumb-all-contents .blog {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}


#breadscumb {
    background-image: url(../img/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1em 0;
    position: relative;
    margin-top: 90px;
    z-index: 0;
  }
  
  #breadscumb::before {
    content: "";
    position: absolute;
    min-height: 100%;
    background-color: #0c0c0c;
    z-index: -1;
  }
  #breadscumb .breadscumb-all {
    padding: 48px 0 48px 0;
  }
  
  .breadscumb-all::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
  }
  
  .breadscumb-all-contents h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }
  
  .breadscumb-all-contents .homeblog {
    display: flex;
    justify-content: center;
  }
  
  .breadscumb-all-contents a {
    text-decoration: none;
    color: #189A46;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
  }
  
  .breadscumb-all-contents .blog {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
  }
  /*********services************/
  .services-all {
    display: flex;
    flex-direction: column;
  }
.services-all .services-design {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 80px;
    border-bottom: 1px solid #f0f3f0;
  }
.services-img {
    width: 50%;
    padding: 0 24px 0 15px;
}
.services-design .services-img img{
    width: 100%;
    border-radius: 10px;
    box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 9%);
}
.services-content {
    width: 50%;
    transform: translateY(100px);
    padding: 0 15px 0 48px;
}
  
#services .services-content .number-services{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color:#f53626;
}
#services header h2{
    font-size: 2rem;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
#services main p {
    margin-top: 16px;
    margin-bottom: 16px;
}
#services .services-content .services-readmore {
    color: #0c0c0c;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #189a46;
    transition: 0.5s;
}
#services .services-content .services-readmore:hover {
    color: #189A46;
}


  